---
name: Run tests
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby-version: ['3.4', '3.3', '3.2', '3.1', '3.0']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install ubuntu requirements
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y shared-mime-info
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: rspec
        run: bundle exec rake
